.obj
engine
.deps
build/

# Generated LSP files
compile_commands.json
.cache
.vscode
logs

# Test server directory
test-server
include/external

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json

mc-server
